<div class="row page-login page-signup screen-lg">
  <div class="col-md-6 logo-grid">
    <!-- <h1><a class="angus-logo" routerLink="/">
        <img class="screen-lg" src="assets/images/app-logo.png">
      </a></h1> -->
    <!-- <div class="signup-ad">
    </div> -->
  </div>
  <div class="col-sm-6 login-grid">
    <div class="card form-card">
      <div class="card-body">
        <!-- <h6 class="card-title">{{ 'ms_project' | translate }}</h6> -->
        <div class="text-center">
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">
              <a class="angus-logo" routerLink="/">
                <img class="screen-lg" src="assets/images/app-logo.png">
              </a>
            </span>
          </div>
        </div>
        <h4 class="card-title">{{ 'user_registration' | translate }}</h4>
        <form [formGroup]="form" (submit)="submit()">
          <span class="form-caption">{{ 'field_with_starick_mandatory' | translate }}</span>
          <div class="form-group">
            <label>{{ 'first_name' | translate }} *</label>
            <div class="input-group">
              <input type="text" formControlName="firstName" class="form-control"
                [placeholder]="'first_name' | translate ">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'first_name'"
              [errorObject]="formService.getErrors('firstName')"></app-form-errors>
          </div>
          <div class="form-group">
            <label>{{ 'last_name' | translate }} *</label>
            <div class="input-group">
              <input type="text" formControlName="lastName" class="form-control"
                [placeholder]="'last_name' | translate ">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'last_name'"
              [errorObject]="formService.getErrors('lastName')"></app-form-errors>
          </div>
          <div class="form-group">
            <label>{{ 'father_name' | translate }} *</label>
            <div class="input-group">
              <input type="text" formControlName="fatherName" class="form-control"
                [placeholder]="'father_name' | translate ">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'father_name'"
              [errorObject]="formService.getErrors('fatherName')"></app-form-errors>
          </div>

          <div class="form-group">
            <label>{{ 'cnic' | translate }} *</label>
            <div class="input-group">
              <input type="text" class="form-control" [placeholder]="'cnic' | translate"
                formControlName="identityNo">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'cnic'"
              [errorObject]="formService.getErrors('identityNo')"></app-form-errors>
          </div>

          <div class="form-group">
            <label>{{ 'username' | translate }} *</label>
            <div class="input-group">
              <input type="text" class="form-control" [placeholder]="'username' | translate"
                formControlName="userName">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'username'"
              [errorObject]="formService.getErrors('userName')"></app-form-errors>
          </div>

          <div class="form-group">
            <label>{{ 'email_address' | translate }} *</label>
            <div class="input-group">
              <input type="text" formControlName="email" class="form-control"
                [placeholder]="'email_address' | translate ">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'email_address'"
              [errorObject]="formService.getErrors('email')"></app-form-errors>
          </div>

          <div class="form-group">
            <label>{{ 'password' | translate }} * <br></label>

            <div class="input-group">
              <input maxlength="20" type="password" formControlName="password" #password class="form-control"
                [placeholder]="'enter_password' | translate ">
              <button type="button" class="visible-password" *ngIf="password.type ==='password'"
                (click)="password.type='text'"><i class="aicon-eye-slash11"></i></button>
              <button type="button" class="visible-password" *ngIf="password.type ==='text'"
                (click)="password.type='password'"><i class="aicon-eye11"></i></button>
            </div>
            <app-password-policy [password]="form.get('password').value"></app-password-policy>
          </div>

          <div class="form-group">
            <label>{{ 'confirm_password' | translate }} *</label>
            <div class="input-group">
              <input maxlength="20" type="password" #confirmPassword formControlName="confirmPassword"
                class="form-control" [placeholder]="'confirm_password' | translate ">
              <button class="visible-password" *ngIf="confirmPassword.type ==='password'"
                (click)="confirmPassword.type='text'"><i class="aicon-eye-slash11"></i></button>
              <button class="visible-password" *ngIf="confirmPassword.type ==='text'"
                (click)="confirmPassword.type='password'"><i class="aicon-eye11"></i></button>
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'password'"
              [errorObject]="formService.getErrors('confirmPassword')"></app-form-errors>
          </div>
          <div class="form-group login-buttons">
            <button type="submit" class="btn-round btn btn-primary">{{ 'register' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>