<!--
<div class="row animated fadeIn">
  <div class="col-sm-12">
    <app-alert *ngIf="!state.success && state.message" [type]="'danger'"
               [message]="state.message | translate"></app-alert>
    <app-alert *ngIf="state.loading" [message]="'processing...' | translate"></app-alert>
    <app-alert *ngIf="state.success" [type]="'success'"
               [message]="(state.message)? state.message:'success' | translate"></app-alert>
    <app-form-errors *ngIf="state.errors" [serverErrors]="state.errors"></app-form-errors>
  </div>
</div>
-->
