<div class="row page-login screen-height">
  <div class="col-md-6 logo-grid">
    <!-- <h1><a class="angus-logo" routerLink="/">
        <img class="screen-lg" src="assets/images/app-logo.png">
      </a></h1> -->
  </div>
  <div class="col-sm-6 login-grid">
    <div class="card form-card">
      <div class="card-body">
        <!-- <h6 class="card-title">{{ 'ms_project' | translate }}</h6> -->
        <div class="text-center">
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">
              <a class="angus-logo" routerLink="/">
                <img class="screen-lg" src="assets/images/app-logo.png">
              </a>
            </span>
          </div>
        </div>
        <h4 class="card-title">{{ 'forgot_password' | translate }}</h4>
        <app-flash-messages [state]="state"></app-flash-messages>
        <form [formGroup]="form" (submit)="submit()">
          <div class="form-group">
            <label>{{ 'email_address' | translate }}</label>
            <div class="input-group">
              <input type="text" formControlName="email" class="form-control"
                [placeholder]="'email_address' | translate ">
            </div>
            <app-form-errors *ngIf="formService.isSubmitted()" [fieldName]="'email_address'"
              [errorObject]="formService.getErrors('email')"></app-form-errors>
          </div>
          <div class="form-group login-buttons">
            <button type="submit" class="btn-round btn btn-primary">{{ 'send_password' | translate }}</button>
            <button type="button" routerLink="/user/login" class="btn-round btn btn-default text-btn btn-link">
              {{'back_to_login' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>