<div class="card page-card">
  <div class="row animated fadeIn fast">
    <div class="col-md-8">
      <div class="container-fluid" [formGroup]="form">
        <div class="form-section">
          <app-flash-messages [state]="saveState"></app-flash-messages>
          <strong class="mandatory-txt">{{'required_fields_text'|translate}}</strong>
          <!-- change password -->
          <div class="form-group">
            <label class="col-sm-4">{{ 'current_password' | translate }} *</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input maxlength="20" type="password" #currentPassword formControlName="currentPassword"
                  class="form-control" [placeholder]="'current_password' | translate " />
                <button class="visible-password" *ngIf="currentPassword.type ==='password'"
                  (click)="currentPassword.type='text'"><i class="aicon-eye-slash11"></i></button>
                <button class="visible-password" *ngIf="currentPassword.type ==='text'"
                  (click)="currentPassword.type='password'"><i class="aicon-eye11"></i></button>
              </div>
              <app-form-errors *ngIf="userForm.isSubmitted()" [fieldName]="'current_password'"
                [errorObject]="userForm.getErrors('currentPassword')"></app-form-errors>
              <!-- <app-password-policy [password]="form.get('currentPassword').value"></app-password-policy> -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">{{ 'new_password' | translate }} *</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input maxlength="20" type="password" #password formControlName="password" class="form-control"
                  [placeholder]="'new_password' | translate " />
                <button type="button" class="visible-password" *ngIf="password.type ==='password'"
                  (click)="password.type='text'"><i class="aicon-eye-slash11"></i></button>
                <button type="button" class="visible-password" *ngIf="password.type ==='text'"
                  (click)="password.type='password'"><i class="aicon-eye11"></i></button>
              </div>
              <!-- <app-form-errors *ngIf="userForm.isSubmitted()" [fieldName]="'new_password'"
                [errorObject]="userForm.getErrors('password')"></app-form-errors> -->
              <app-password-policy [password]="form.get('password').value"></app-password-policy>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">{{ 'retype_password' | translate }} *</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input maxlength="20" type="password" #confirmPassword formControlName="confirmPassword"
                  class="form-control" [placeholder]="'retype_password' | translate " />
                <button class="visible-password" *ngIf="confirmPassword.type ==='password'"
                  (click)="confirmPassword.type='text'"><i class="aicon-eye-slash11"></i></button>
                <button class="visible-password" *ngIf="confirmPassword.type ==='text'"
                  (click)="confirmPassword.type='password'"><i class="aicon-eye11"></i></button>
              </div>
              <app-form-errors *ngIf="form.get('confirmPassword').value" [fieldName]="'retype_password'"
                [errorObject]="userForm.getErrors('confirmPassword')"></app-form-errors>
              <app-password-policy [password]="form.get('confirmPassword').value"></app-password-policy>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group btns-group col-md-12 col-sm-12 text-right btns-salebook mrgn-left">
            <button class="btn-round btn btn-secondary" type="button" routerLink="/user/dashboard">{{
              'cancel'|translate}}</button>
            <button type="button" (click)="updatePassword()" class="btn-round btn btn-green">
              {{ 'save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>