<div class="home-page">
  <div class="row home-header">
    <div class="col-md-6">
      <h6 class="logo-container"><img src="assets/images/app-logo.png"></h6>
    </div>
    <div class="col-md-6 home-btns-container">
      <!-- <button type="button" routerLink="/user/sign-up" class="btn-round btn btn-secondary">Sign Up</button> -->
      <button type="button" routerLink="/user/login" class="btn-round btn btn-primary">Login</button>
      <hr class="link-sep" />
    </div>
  </div>

  <div class="row home-page-content">
    <div class="col-sm-12">
    </div>
  </div>

  <div class="home-footer" style="color: white !important;">
    <div class="row">
      <div class="col-md-6 footer-links">
        Privacy Policy - Terms & Conditions
      </div>
      <div class="col-md-6 footer-credits">
        <span>powered by<img src="assets/images/fast-logo.png" class="ml-2" width="120" alt="" /></span>
      </div>
    </div>
  </div>
</div>
