<div class="modal-header" *ngIf="title">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [innerHTML]="message"></div>
<div class="modal-body">
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn-round btn btn-secondary" *ngIf="btnCancelText"
          (click)="decline()">{{ btnCancelText }}</button>
  <button *ngIf="btnOkText" type="button" class="btn-round btn btn-green"
          [class.btn-green]="successClass()"
          [class.btn-danger]="dangerClass()"
          (click)="accept()">{{ btnOkText }}</button>
</div>
